.container{
    height: 100vh;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;    
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #232323, #0d0d0d);
    color: white;
}


.product-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    width: 1000px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px) saturate(150%);
    -webkit-backdrop-filter: blur(8px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.103);
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
}


.fav-item-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    background: #222; 
    border: 2px solid rgba(255, 255, 255, 0.308);
    border-radius: 8px;
    padding: 18px;
    transition: background .3s ease, transform .2s ease;
    -webkit-transition: background .3s ease, -webkit-transform .2s ease;
}
.fav-item-card:hover { 
    background: #2b2b2b; 
    transform: translateX(5px); 
    -webkit-transform: translateX(5px)
}
    
.fav-item-card:active { 
    background: #333; 
    transform: translateX(0px); 
    -webkit-transform: translateX(0px);
}


.fav-item-card .product-title{
    font-size: 24px;
    text-align: center;
    color: greenyellow;
    transition: all .6s linear;
    -webkit-transition: all .6s linear;
}

.remove-btn{
    background-color: #d62828; 
    padding: 8px 15px; 
    border-radius: 7px;
 }
.remove-btn:hover{ 
    transform: scale(107%); 
    -webkit-transform: scale(1.07);
    background-color: #e63946; 
}
.remove-btn:active{
    transform: scale(1); 
    -webkit-transform: scale(1);
    background: #c00309; 
}


@media only screen and (max-width : 722px){ 
    .product-container{height: 80vh; width: 90%;}
    .fav-item-card{flex-direction: column;} }