.product-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 420px;
    padding: 12px;
    border-radius: 18px;
    color: white;
    background-color: #1e1e1e;
    border: 2px solid transparent;
    box-shadow: 0 6px 15px rgba(0,0,0,0.4), 0 2px 4px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 0 6px 15px rgba(0,0,0,0.4), 0 2px 4px rgba(0,0,0,0.5); 
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
     -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
.product-card:hover{
    background-color: #282828; 
    border: 1px solid #ffaa33; 
    transform: translateY(-5px); 
    -webkit-transform: translateY(-5px); 
    -ms-transform: translateY(-5px); 
    box-shadow: 0 12px 25px rgba(0,0,0,0.6), 0 4px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 12px 25px rgba(0,0,0,0.6), 0 4px 8px rgba(0,0,0,0.3);
}
.product-card:focus{
    outline: 2px solid #ffaa33; 
    outline-offset: 3px; 
}

.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333333; 
}

.img-wrapper img{
    width: 68%;
    height: 92%;
    position: relative;
    object-fit: cover;
    object-position: center top;
    transition: all .3s ease-out; 
}
.img-wrapper img:hover{
    filter: drop-shadow(0 0 8px #ffd90049); 
    transform: scale(102%); 
    transition: all 0.3s linear; 
}


.product-detail{
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.product-summary{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    align-items: flex-start;
}

.product-summary .rating{ 
    display: flex;
    align-items: center;
    gap: 3px;
    color: gold;
}

.product-summary .product-price{
    position: absolute;
    right: 0px;
    top: 25px;
    font-size: 25px;
    color: #ffd700; 
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.4); 
}

.product-detail .brand{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.brand p{ font-weight: bold; font-size: 15px; }
.brand span{
    font-size: 13px;
    margin: 0px 6px;
    padding: 2px 7px; 
    border-radius: 6px; 
    background-color: #3b3a3a; 
    color: #ffaa33; 
}


.product-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-actions button {
    padding: 7px 10px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-weight: 700; 
    font-size: 15px; 
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
    background-color: #ffaa33; 
    color: #1e1e1e; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}
.product-actions button:hover {
    background-color: #ffc266; 
    color: #1e1e1e;
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.4); 
}
.product-actions button:active{ transform: scale(0.97); }